{% extends 'base.html' %}
{% block content %}
<!-- <div class="ui small breadcrumb">
    <a href="/" class="section">Home</a>
    <i class="right chevron icon divider"></i>
    <a href="/" class="section">Staffs</a>
    <i class="right chevron icon divider"></i>
    <div class="active section">Single Staff</div>
</div> -->
<div class="ui fluid placeholder segment">
    <div class="ui centered card">
        <div class="content">
            <div class="ui fluid placeholder">
                <div class="square image"></div>
            </div>
        </div>
    </div>
    <!-- <img class="ui small centered circular bordered image" src="/IMAGES/white-image.png"><br> -->
    <table class="ui attached celled black table">
        <thead>
            <tr>
                <th class="eight wide">Name</th>
                <th class="eight wide">Parents Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="ui fluid placeholder">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </td>
                <td>
                    <div class="ui fluid placeholder">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="ui attached celled table">
        <thead>
            <tr>
                <th class="three wide">Roll No.</th>
                <th class="three wide">Class</th>
                <th class="three wide">Section</th>
                <th class="three wide">Date of Birth</th>
                <th class="four wide">Mob No.</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="ui fluid placeholder">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </td>
                <td>
                    <div class="ui fluid placeholder">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </td>
                <td>
                    <div class="ui fluid placeholder">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </td>
                <td>
                    <div class="ui fluid placeholder">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </td>
                <td>
                    <div class="ui fluid placeholder">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="ui attached celled table">
        <thead>
            <tr>
                <th class="sixteen wide">Address</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="ui fluid fluid placeholder">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}